@model WebsiteBanHang.Models.HomeModel

@{
    ViewBag.Title = "Home Page";
}

<div class="container">
    <!-- ========================= SECTION MAIN  ========================= -->
    <section class="section-main padding-y">
        <main class="card">
            <div class="card-body">

                <div class="row">
                    <aside class="col-lg col-md-3 flex-lg-grow-0">
                        <h6>Danh mục</h6>
                        <nav class="nav-home-aside">
                            <ul class="menu-category">
                                @foreach (var item in Model.ListCategory)
                                {
                                    <li>@Html.ActionLink(item.Name, "ProductCategory", "Category", new { Id = @item.Id }, null)</li>
                                }

                            </ul>
                        </nav>
                    </aside> <!-- col.// -->
                    <div class="col-md-9 col-xl-7 col-lg-7">

                        <!-- ================== COMPONENT SLIDER  BOOTSTRAP  ==================  -->
                        <div id="carousel1_indicator" class="slider-home-banner carousel slide" data-ride="carousel">
                            <ol class="carousel-indicators">
                                <li data-target="#carousel1_indicator" data-slide-to="0" class="active"></li>
                                <li data-target="#carousel1_indicator" data-slide-to="1"></li>
                                <li data-target="#carousel1_indicator" data-slide-to="2"></li>
                            </ol>
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img src="~/Content/images/banners/slide1.png" alt="First slide">
                                </div>
                                <div class="carousel-item">
                                    <img src="~/Content/images/banners/slide2.jpg" alt="Second slide">
                                </div>
                                <div class="carousel-item">
                                    <img src="~/Content/images/banners/slide3.jpg" alt="Third slide">
                                </div>
                            </div>
                            <a class="carousel-control-prev" href="#carousel1_indicator" role="button" data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#carousel1_indicator" role="button" data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                        <!-- ==================  COMPONENT SLIDER BOOTSTRAP end.// ==================  .// -->

                    </div> <!-- col.// -->
                    <div class="col-md d-none d-lg-block flex-grow-1">
                        <aside class="special-home-right">
                            <h6 class="bg-blue text-center text-white mb-0 p-2">Danh mục phổ biến</h6>
                            @foreach (var item in Model.ListCategory.Where(n => n.ShowOnHomePage == true).Take(3))
                            {
                                <div class="card-banner border-bottom">
                                    <div class="py-n3" style="width:80%">
                                        <h6 class="card-title">@item.Name</h6>
                                        <a href="@Url.Action("ProductCategory", "Category", new { Id = @item.Id }, null)" class="btn btn-secondary btn-sm"> Nhấn ngay </a>
                                    </div>
                                    <img src="~/Content/images/items/@item.Avartar" height="80" class="img-bg">
                                </div>
                            }

                        </aside>
                    </div> <!-- col.// -->
                </div> <!-- row.// -->

            </div> <!-- card-body.// -->
        </main> <!-- card.// -->

    </section>
    <!-- ========================= SECTION MAIN END// ========================= -->
    <!-- =============== SECTION DEAL =============== -->
    <section class="padding-bottom">
        <div class="card card-deal">
            <div class="col-heading content-body">
                <header class="section-heading">
                    <h3 class="section-title">Giảm giá sốc</h3>
                </header><!-- sect-heading -->
                <div class="timer">
                    <div> <span class="num">04</span> <small>Ngày</small></div>
                    <div> <span class="num">12</span> <small>Giờ </small></div>
                    <div> <span class="num">58</span> <small>Phút</small></div>
                    <div> <span class="num">02</span> <small>Giây</small></div>
                </div>
            </div> <!-- col.// -->
            <div class="row no-gutters items-wrap">
                @foreach (var item in Model.ListProduct.Where(n => n.TypeId == 1).Take(5))
                {
                    <div class="col-md col-6">
                        <figure class="card-product-grid card-sm">
                            <a href="@Url.Action("Detail","Products", new { Id = @item.Id })" class="img-wrap">
                                <img src="~/Content/images/items/@item.Avartar">
                            </a>
                            <div class="text-wrap p-3">
                                @*<a href="#" class="title">@item.Name</a>*@
                                @Html.ActionLink(item.Name, "Detail", "Products", new { Id = @item.Id }, null)
                                <span class="badge badge-danger"> -20% </span>
                            </div>
                        </figure>
                    </div>
                }
            </div>
        </div>
    </section>
    <!-- =============== SECTION DEAL // END =============== -->
    <!-- =============== SECTION 1 =============== -->
    <section class="padding-bottom">
        <header class="section-heading heading-line">
            <h4 class="title-section text-uppercase">Adidas</h4>
        </header>

        <div class="card card-home-category">
            <div class="row no-gutters">
                <div class="col-md-3">

                    <div class="home-category-banner bg-light-orange">
                        <h5 class="title">TỔNG QUAN VỀ THƯƠNG HIỆU GIÀY ADIDAS</h5>
                        <p>
                            Adidas là một trong những thương hiệu thể thao nổi tiếng nhất trên thế giới.
                            Từ học sinh tiểu học cho đến các vận động viên chuyên nghiệp, không ai có thể phủ nhận sức hấp dẫn của Adidas.
                            Nếu bạn khảo sát xem có bao nhiêu người đã hoặc đang sở hữu các sản phẩm của Adidas, thì con số này sẽ khiến
                            bạn bất ngờ.
                        </p>
                        <a href="~/Category/ProductCategory/1" class="btn btn-outline-primary rounded-pill">Nhấn ngay</a>
                        <img src="~/Content/images/items/AdidasP1.jpg" class="img-bg">
                    </div>

                </div> <!-- col.// -->
                <div class="col-md-9">
                    <ul class="row no-gutters bordered-cols">
                        @foreach (var item in Model.ListProduct.Where(n => n.BrandId == 1))
                        {
                            <li class="col-6 col-lg-3 col-md-4">
                                <a href="@Url.Action("Detail","Products", new { Id = @item.Id })" class="item">
                                    <div class="card-body">
                                        <img class="img-sm float-right" src="~/Content/images/items/@item.Avartar">
                                        <p class="text-muted"><i class="fa fa-map-marker-alt"></i>@item.Name</p>
                                    </div>
                                </a>
                            </li>
                        }


                    </ul>
                </div> <!-- col.// -->
            </div> <!-- row.// -->
        </div> <!-- card.// -->
    </section>
    <!-- =============== SECTION 1 END =============== -->
    <!-- =============== SECTION 2 =============== -->
    <section class="padding-bottom">
        <header class="section-heading heading-line">
            <h4 class="title-section text-uppercase">Nike</h4>
        </header>

        <div class="card card-home-category">
            <div class="row no-gutters">
                <div class="col-md-3">

                    <div class="home-category-banner bg-light-orange">
                        <h5 class="title">TỔNG QUAN VỀ THƯƠNG HIỆU GIÀY NIKE</h5>
                        <p>Nike là một trong những thương hiệu thể thao nổi tiếng nhất trên thế giới.
                        Từ học sinh tiểu học cho đến các vận động viên chuyên nghiệp, không ai có thể phủ nhận sức hấp dẫn của Nike.
                        Nếu bạn khảo sát xem có bao nhiêu người đã hoặc đang sở hữu các sản phẩm của Nike, thì con số này sẽ khiến
                        bạn bất ngờ. </p>
                        <a href="~/Category/ProductCategory/2" class="btn btn-outline-primary rounded-pill">Nhân ngay</a>
                        <img src="~/Content/images/items/NikeAf1.jpg" class="img-bg">
                    </div>

                </div> <!-- col.// -->
                <div class="col-md-9">
                    <ul class="row no-gutters bordered-cols">
                        @foreach (var item in Model.ListProduct.Where(n => n.BrandId == 2))
                        {
                            <li class="col-6 col-lg-3 col-md-4">
                                <a href="@Url.Action("Detail","Products", new { Id = @item.Id })" class="item">
                                    <div class="card-body">
                                        <img class="img-sm float-right" src="~/Content/images/items/@item.Avartar">
                                        <p class="text-muted"><i class="fa fa-map-marker-alt"></i>@item.Name</p>
                                    </div>
                                </a>
                            </li>
                        }
                    </ul>
                </div> <!-- col.// -->
            </div> <!-- row.// -->
        </div> <!-- card.// -->
    </section>
    <!-- =============== SECTION 2 END =============== -->
    <!-- =============== SECTION 3 =============== -->
    <section class="padding-bottom">
        <header class="section-heading heading-line">
            <h4 class="title-section text-uppercase">New Balance</h4>
        </header>

        <div class="card card-home-category">
            <div class="row no-gutters">
                <div class="col-md-3">

                    <div class="home-category-banner bg-light-orange">
                        <h5 class="title">TỔNG QUAN VỀ THƯƠNG HIỆU GIÀY NEW BALANCE</h5>
                        <p>
                            New Balance là một trong những thương hiệu thể thao nổi tiếng nhất trên thế giới.
                            Từ học sinh tiểu học cho đến các vận động viên chuyên nghiệp, không ai có thể phủ nhận sức hấp dẫn của New Balance.
                            Nếu bạn khảo sát xem có bao nhiêu người đã hoặc đang sở hữu các sản phẩm của New Balance, thì con số này sẽ khiến
                            bạn bất ngờ.
                        </p>
                        <a href="~/Category/ProductCategory/3" class="btn btn-outline-primary rounded-pill">Nhấn ngay</a>
                        <img src="~/Content/images/items/Balance1.jpg" class="img-bg">
                    </div>

                </div> <!-- col.// -->
                <div class="col-md-9">
                    <ul class="row no-gutters bordered-cols">
                        @foreach (var item in Model.ListProduct.Where(n => n.BrandId == 3))
                        {
                            <li class="col-6 col-lg-3 col-md-4">
                                <a href="@Url.Action("Detail","Products", new { Id = @item.Id })" class="item">
                                    <div class="card-body">
                                        <img class="img-sm float-right" src="~/Content/images/items/@item.Avartar">
                                        <p class="text-muted"><i class="fa fa-map-marker-alt"></i>@item.Name</p>
                                    </div>
                                </a>
                            </li>
                        }


                    </ul>
                </div> <!-- col.// -->
            </div> <!-- row.// -->
        </div> <!-- card.// -->
    </section>
    <!-- =============== SECTION 3 END =============== -->
    <!-- =============== SECTION 4 =============== -->
    <section class="padding-bottom">
        <header class="section-heading heading-line">
            <h4 class="title-section text-uppercase">Jordan</h4>
        </header>

        <div class="card card-home-category">
            <div class="row no-gutters">
                <div class="col-md-3">

                    <div class="home-category-banner bg-light-orange">
                        <h5 class="title">TỔNG QUAN VỀ THƯƠNG HIỆU GIÀY JORDAN</h5>
                        <p>
                            Jordan là một trong những thương hiệu thể thao nổi tiếng nhất trên thế giới.
                            Từ học sinh tiểu học cho đến các vận động viên chuyên nghiệp, không ai có thể phủ nhận sức hấp dẫn của Jordan.
                            Nếu bạn khảo sát xem có bao nhiêu người đã hoặc đang sở hữu các sản phẩm của Jordan, thì con số này sẽ khiến
                            bạn bất ngờ.
                        </p>
                        <a href="~/Category/ProductCategory/4" class="btn btn-outline-primary rounded-pill">Nhấn ngay</a>
                        <img src="~/Content/images/items/JordanH1.jpg" class="img-bg">
                    </div>

                </div> <!-- col.// -->
                <div class="col-md-9">
                    <ul class="row no-gutters bordered-cols">
                        @foreach (var item in Model.ListProduct.Where(n => n.BrandId == 1005))
                        {
                            <li class="col-6 col-lg-3 col-md-4">
                                <a href="@Url.Action("Detail","Products", new { Id = @item.Id })" class="item">
                                    <div class="card-body">
                                        <img class="img-sm float-right" src="~/Content/images/items/@item.Avartar">
                                        <p class="text-muted"><i class="fa fa-map-marker-alt"></i>@item.Name</p>
                                    </div>
                                </a>
                            </li>
                        }


                    </ul>
                </div> <!-- col.// -->
            </div> <!-- row.// -->
        </div> <!-- card.// -->
    </section>
    <!-- =============== SECTION 4 END =============== -->
    <!-- =============== SECTION 4 =============== -->
    <section class="padding-bottom">
        <header class="section-heading heading-line">
            <h4 class="title-section text-uppercase">Converse</h4>
        </header>

        <div class="card card-home-category">
            <div class="row no-gutters">
                <div class="col-md-3">

                    <div class="home-category-banner bg-light-orange">
                        <h5 class="title">TỔNG QUAN VỀ THƯƠNG HIỆU GIÀY CONVERSE</h5>
                        <p>
                            Converse là một trong những thương hiệu thể thao nổi tiếng nhất trên thế giới.
                            Từ học sinh tiểu học cho đến các vận động viên chuyên nghiệp, không ai có thể phủ nhận sức hấp dẫn của Converse.
                            Nếu bạn khảo sát xem có bao nhiêu người đã hoặc đang sở hữu các sản phẩm của Converse, thì con số này sẽ khiến
                            bạn bất ngờ.
                        </p>
                        <a href="~/Category/ProductCategory/5" class="btn btn-outline-primary rounded-pill">Nhấn ngay</a>
                        <img src="~/Content/images/items/ConverseC1.jpg" class="img-bg">
                    </div>

                </div> <!-- col.// -->
                <div class="col-md-9">
                    <ul class="row no-gutters bordered-cols">
                        @foreach (var item in Model.ListProduct.Where(n => n.BrandId == 1006))
                        {
                            <li class="col-6 col-lg-3 col-md-4">
                                <a href="@Url.Action("Detail","Products", new { Id = @item.Id })" class="item">
                                    <div class="card-body">
                                        <img class="img-sm float-right" src="~/Content/images/items/@item.Avartar">
                                        <p class="text-muted"><i class="fa fa-map-marker-alt"></i>@item.Name</p>
                                    </div>
                                </a>
                            </li>
                        }


                    </ul>
                </div> <!-- col.// -->
            </div> <!-- row.// -->
        </div> <!-- card.// -->
    </section>
    <!-- =============== SECTION 4 END =============== -->
    <!-- =============== SECTION 4 =============== -->
    <section class="padding-bottom">
        <header class="section-heading heading-line">
            <h4 class="title-section text-uppercase">Vans</h4>
        </header>

        <div class="card card-home-category">
            <div class="row no-gutters">
                <div class="col-md-3">

                    <div class="home-category-banner bg-light-orange">
                        <h5 class="title">TỔNG QUAN VỀ THƯƠNG HIỆU GIÀY VANS</h5>
                        <p>
                            Vans là một trong những thương hiệu thể thao nổi tiếng nhất trên thế giới.
                            Từ học sinh tiểu học cho đến các vận động viên chuyên nghiệp, không ai có thể phủ nhận sức hấp dẫn của Vans.
                            Nếu bạn khảo sát xem có bao nhiêu người đã hoặc đang sở hữu các sản phẩm của Vans, thì con số này sẽ khiến
                            bạn bất ngờ.
                        </p>
                        <a href="~/Category/ProductCategory/6" class="btn btn-outline-primary rounded-pill"> Nhấn ngay </a>
                        <img src="~/Content/images/items/Vans1.jpg" class="img-bg">
                    </div>

                </div> <!-- col.// -->
                <div class="col-md-9">
                    <ul class="row no-gutters bordered-cols">
                        @foreach (var item in Model.ListProduct.Where(n => n.BrandId == 1007))
                        {
                            <li class="col-6 col-lg-3 col-md-4">
                                <a href="@Url.Action("Detail","Products", new { Id = @item.Id })" class="item">
                                    <div class="card-body">
                                        <img class="img-sm float-right" src="~/Content/images/items/@item.Avartar">
                                        <p class="text-muted"><i class="fa fa-map-marker-alt"></i>@item.Name</p>
                                    </div>
                                </a>
                            </li>
                        }


                    </ul>
                </div> <!-- col.// -->
            </div> <!-- row.// -->
        </div> <!-- card.// -->
    </section>
    <!-- =============== SECTION 4 END =============== -->
    <!-- =============== SECTION REQUEST =============== -->

    <section class="padding-bottom">

        <header class="section-heading heading-line">
            <h4 class="title-section text-uppercase">ĐĂNG KÍ NHẬN TIN</h4>
        </header>

        <div class="row">
            <div class="col-md-8">
                <div class="card-banner banner-quote overlay-gradient" style="background-image: url('~/Content/images/banners/banner9.jpg');">
                    <div class="card-img-overlay white">
                        <h3 class="card-title">ĐĂNG KÝ NHẬN THÔNG TIN</h3>
                        <p class="card-text" style="max-width: 400px">
                            Đăng ký ngay để được cập nhật sớm nhất những thông tin hữu ích, ữu đãi vô cùng hấp dẫn và những món quà bất ngờ!
                        </p>
                        <a href="" class="btn btn-primary rounded-pill">Tìm hiểu thêm</a>
                    </div>
                </div>
            </div> <!-- col // -->
            <div class="col-md-4">

                <div class="card card-body">
                    <h4 class="title py-3">One Request, Multiple Quotes</h4>
                    <form>
                        <div class="form-group">
                            <input class="form-control" name="" placeholder="Bạn đang tìm kiếm cái gì?" type="text">
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <input class="form-control" placeholder="Số lượng" name="" type="text">
                            </div>
                        </div>
                        <div class="form-group text-muted">
                            <p>Chọn loại mẫu:</p>
                            <label class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" value="option1">
                                <div class="form-check-label">Yêu cầu giá</div>
                            </label>
                            <label class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" value="option2">
                                <div class="form-check-label">Yêu cầu một ví dụ</div>
                            </label>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-warning">Gửi yêu cầu</button>
                        </div>
                    </form>
                </div>

            </div> <!-- col // -->
        </div> <!-- row // -->
    </section>

    <!-- =============== SECTION REQUEST .//END =============== -->
    <!-- =============== SECTION ITEMS =============== -->
    <section class="padding-bottom-sm">

        <header class="section-heading heading-line">
            <h4 class="title-section text-uppercase">Sản phẩm đề xuất</h4>
        </header>

        <div class="row row-sm">
            @foreach (var item in Model.ListProduct.Where(n => n.TypeId == 2).Take(10))
            {
                <div class="col-xl-2 col-lg-3 col-md-4 col-6">
                    <div href="#" class="card card-sm card-product-grid">
                        <a href="@Url.Action("Detail","Products", new { Id = @item.Id })" class="img-wrap"> <img src="~/Content/images/items/@item.Avartar"> </a>
                        <figcaption class="info-wrap">
                            <a href="@Url.Action("Detail","Products", new { Id = @item.Id })" class="title">@item.Name</a>
                            <div class="price mt-1">@item.Price</div> <!-- price-wrap.// -->
                        </figcaption>
                    </div>
                </div> <!-- col.// -->
            }

        </div> <!-- row.// -->
    </section>
    <!-- =============== SECTION ITEMS .//END =============== -->
  
    <!-- =============== SECTION REGION =============== -->
    <section class="padding-bottom">

        <header class="section-heading heading-line">
            <h4 class="title-section text-uppercase"> CHỌN KHU VỰC </h4>
        </header>

        <ul class="row mt-4">
            <li class="col-md col-6"><a href="#" class="icontext"> <img class="icon-flag-sm" src="~/Content/images/icons/flags/CN.png"> <span>Trung Quốc</span> </a></li>
            <li class="col-md col-6"><a href="#" class="icontext"> <img class="icon-flag-sm" src="~/Content/images/icons/flags/DE.png"> <span>Đức</span> </a></li>
            <li class="col-md col-6"><a href="#" class="icontext"> <img class="icon-flag-sm" src="~/Content/images/icons/flags/AU.png"> <span>Úc</span> </a></li>
            <li class="col-md col-6"><a href="#" class="icontext"> <img class="icon-flag-sm" src="~/Content/images/icons/flags/RU.png"> <span>Nga</span> </a></li>
            <li class="col-md col-6"><a href="#" class="icontext"> <img class="icon-flag-sm" src="~/Content/images/icons/flags/IN.png"> <span>Ấn Độ</span> </a></li>
            <li class="col-md col-6"><a href="#" class="icontext"> <img class="icon-flag-sm" src="~/Content/images/icons/flags/GB.png"> <span>Anh</span> </a></li>
            <li class="col-md col-6"><a href="#" class="icontext"> <img class="icon-flag-sm" src="~/Content/images/icons/flags/TR.png"> <span>Thổ Nhĩ Kỳ</span> </a></li>
            <li class="col-md col-6"><a href="#" class="icontext"> <img class="icon-flag-sm" src="~/Content/images/icons/flags/UZ.png"> <span>Uzbekistan</span> </a></li>
            <li class="col-md col-6"><a href="#" class="icontext"> <i class="mr-3 fa fa-ellipsis-h"></i> <span>Nhiều khu vực hơn</span> </a></li>
        </ul>
    </section>
    <!-- =============== SECTION REGION .//END =============== -->

    <article class="my-4">
        <img src="~/Content/images/banners/ad-sm.png" class="w-100">
    </article>
</div>
<!-- container end.// -->
<!-- ========================= SECTION SUBSCRIBE  ========================= -->
<section class="section-subscribe padding-y-lg">
    <div class="container">

        <p class="pb-2 text-center text-white">Cung cấp các xu hướng sản phẩm mới nhất và tin tức ngành trực tiếp vào hộp thư đến của bạn/p>

        <div class="row justify-content-md-center">
            <div class="col-lg-5 col-md-6">
                <form class="form-row">
                    <div class="col-md-8 col-7">
                        <input class="form-control border-0" placeholder="Email của bạn" type="email">
                    </div> <!-- col.// -->
                    <div class="col-md-4 col-5">
                        <button type="submit" class="btn btn-block btn-warning"> <i class="fa fa-envelope"></i> Đăng ký </button>
                    </div> <!-- col.// -->
                </form>
                <small class="form-text text-white-50"> Chúng tôi sẽ không bao giờ chia sẻ địa chỉ email của bạn với bên thứ ba. </small>
            </div> <!-- col-md-6.// -->
        </div>


    </div>
</section>
<!-- ========================= SECTION SUBSCRIBE END// ========================= -->
